body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {

    width: 100%;
}
/*Editing body CSS*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #f0f0f0;
    background-color: #292727;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #151414;
    border: 0px solid;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 4px #000000;
    box-shadow: 3px 3px 4px #000000;
}
/* Navbar CSS */
.navbar-light{
	background-color: #3c3939;
    border: 0px solid;
    color: #f0f0f0;
    box-shadow: 0px 0.6px 10px #000000;
}

.navbar-light > a, {
	color: #f0f0f0;
}

.theLogo {
  font-family:  "Lucida Console", Courier, monospace;;
}

/* Fonts */
a {
    color: #eaeaea;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: #ccc;
}

/* Footer CSS */
.footer-color{
	background-color: gray;
	padding: 50px;
}

/* MODAL CSS */
.modal {

	position: fixed;
	top: 30px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
}

.modal > form {

	display: inline-block;
    background-color: #fff
}

#close {

	position: absolute;
	right: 31.7%;
}

.modalcolor {
  background: #3c3939;
  color: white;
}

/* Button*/

.inputs2 {
  background: #00679a;
  border: 0.5px solid #529ec3;
  border-radius: 15px;
  box-shadow: 1px 2px 1px #00379a;
}

button, select {
    font-size: inherit;
    line-height: inherit;
    box-shadow: none;
    background: #00679a;
    border: 0.5px solid #529ec3;
    border-radius: 15px;
    box-shadow: 1px 2px 1px #00379a;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #00679a;
    border: 0.5px solid #529ec3;
    border-radius: 15px;
    box-shadow: 1px 2px 1px #00379a;
}

.lead2 {
  font-size: 15px;
}

textarea {
    color: black;
}
