body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
	
    width: 100%;
}
.navbar-light{
	background-color: #000140;
    border-color: #080808;
    color: #000;
}

.navbar-light > a, {
	color: #2bb;
}

.footer-color{
	background-color: gray;
	padding: 50px;
}